<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE generatorConfiguration-->
        <!--PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"-->
        <!--"http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">-->

<!--<generatorConfiguration>-->
    <!--<context id="DB2Tables" targetRuntime="MyBatis3">-->
        <!--&lt;!&ndash;数据库连接信息 &ndash;&gt;-->
        <!--<jdbcConnection driverClass="com.mysql.jdbc.Driver"-->
                        <!--connectionURL="jdbc:mysql://47.105.151.214:3306/shopping?characterEncoding=utf-8&amp;zeroDateTimeBehavior=convertToNull"-->
                        <!--userId="root"-->
                        <!--password="jp@123456">-->
        <!--</jdbcConnection>-->

        <!--&lt;!&ndash;生成的model(DataObject类) 的存放位置(实例存储，表对应类) &ndash;&gt;-->
        <!--<javaModelGenerator targetPackage="image.bean" targetProject="src/main/java">-->
            <!--<property name="enableSubPackages" value="true"/>-->
            <!--<property name="trimStrings" value="true"/>-->
        <!--</javaModelGenerator>-->

        <!--&lt;!&ndash;生成映射文件的存放位置 &ndash;&gt;-->
        <!--<sqlMapGenerator targetPackage="mapping" targetProject="src/main/resources">-->
            <!--<property name="enableSubPackages" value="true"/>-->
        <!--</sqlMapGenerator>-->

        <!--&lt;!&ndash; 生成的Dao类的存放的位置(数据库操作对象接口) &ndash;&gt;-->
        <!--<javaClientGenerator type="XMLMAPPER" targetPackage="image.dao" targetProject="src/main/java">-->
            <!--<property name="enableSubPackages" value="true"/>-->
        <!--</javaClientGenerator>-->

        <!--&lt;!&ndash;对应数据库表名，多个表，请复制指定 &ndash;&gt;-->

        <!--<table tableName="picture" domainObjectName="PictureDO" enableCountByExample="false"-->
               <!--enableUpdateByExample="false" enableDeleteByExample="false"-->
               <!--enableSelectByExample="false" selectByExampleQueryId="false"></table>-->

    <!--</context>-->
<!--</generatorConfiguration>-->




